
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme

DATA_SOURCE_NAME=postgresql://monitoring_user:changeme@app_db:5432/laravel?sslmode=disable

GF_ALERT_EMAIL_TO=alerts@example.invalid
